@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: , sans-serif;
    
  }

  *, *::before, *::after {
    box-sizing: inherit;
      
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Mr Eaves XL Mod OT", Sans-serif
    
}

.about { 
    color: #CCCCCC;
    margin: 2em;
    text-align: center;
    
}

.logo {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}

.instagram {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    padding-top: 1em;
    
}

.github {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
       
}

.email {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    padding-top: 1em;

}

.box {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.grid {
    list-style: none;
    padding-top: 3em;
    
}

p {
    margin-left: 4em;
    margin: 3em;
    color: #6D6E71;
    
    
}

h1 {
    margin: 1.5em;
    

    
}

    